body {
  background-color: var(--background);
  color: var(--text-primary);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .theme {
    display: flex;
    align-items: center;
    margin-left: auto;
    z-index: 1;
    height: 100%;
  }

  .navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      height: 100%;

      li {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 16px;
          color: white;
          text-decoration: none;

          &:hover {
            background-color: #555;
          }
        }

        &:hover {
          background-color: #555; /* Highlight the parent li when hovered */
        }
        &:hover .dropdown {
          display: block;
        }

        .dropdown {
          display: none;
          position: absolute;
          top: 60px; /* Adjust based on navbar height */
          left: 0;
          background-color: #333;
          min-width: 50vh;
          z-index: 1;

          li {
            display: block;
            width: 100%;
            background-color: #333;
            border-top: 1px solid #444;

            a {
              text-align: left;

              &:hover {
                background-color: #555;
              }
            }
          }
        }
      }
    }
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}